################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Exchange/KlingerExchange/bin/Debug/net10.0/KlingerExchange.dll
/Exchange/KlingerExchange/bin/Debug/net10.0/KlingerExchange.exe
/Exchange/KlingerExchange/bin/Debug/net10.0/KlingerExchange.pdb
/Exchange/KlingerExchange/bin/Debug/net10.0/KlingerShared.dll
/Exchange/KlingerExchange/bin/Debug/net10.0/KlingerShared.pdb
