# default settings for sessions
[DEFAULT]
FileStorePath=store
ConnectionType=acceptor
ReconnectInterval=60
SenderCompID=TW
StartTime=00:00:00
EndTime=23:59:59
HeartBtInt=30
SocketNodelay=Y
SocketSendBufferSize=262144
SocketReceiveBufferSize=262144
DataDictionary=Matching/manifest/FIX41.xml

# session definition - Client ARCA
[SESSION]
BeginString=FIX.4.1
TargetCompID=ARCA
SocketAcceptPort=9823

# session definition - Market Simulator
[SESSION]
BeginString=FIX.4.1
TargetCompID=MKSIM
SocketAcceptPort=9824