# default settings for sessions
[DEFAULT]
FileStorePath=store
ConnectionType=initiator
ReconnectInterval=60
SenderCompID=ARCA

# session definition
[SESSION]
BeginString=FIX.4.1
TargetCompID=TW
StartTime=00:00:00
EndTime=23:59:59
HeartBtInt=30
SocketConnectHost=127.0.0.1
SocketConnectPort=9823
SocketNodelay=Y
SocketSendBufferSize=262144
SocketReceiveBufferSize=262144
DataDictionary=Oms/manifest/FIX41.xml
